<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>参加フォーム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>新歓合宿参加申し込みフォーム</h2>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdPsGzTfr3CXYG--WC78GGzfC6v-yLeRrL4Yya1Xs5BuSAKOg/viewform?embedded=true"
            width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">
        読み込んでいます…
    </iframe>
</body>
</html>