<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ロゼ写真集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 style="text-align:center; color: hotpink;">ロゼ写真集</h1>

    <div style="text-align:center; margin-top: 50px;">
        <a href="https://photos.app.goo.gl/cdCwiymScWWgDY5U9" target="_blank">
            <img src="{{ url_for('static', filename='images/syasinsyu/1okasitukuri.JPG') }}" 
                 alt="ロゼ写真集" 
                 style="width:300px; height:auto; cursor:pointer;">
        </a>
    </div>
</body>
</html>